body{
	height: 800px;
	background-image: url(images/table.jpg);
	background-size: 100% 100%;
	
}

.thimble_img{
  margin-top: 70px;

}

.thimble1{
	margin: 15px;
	position: relative;

}
.thimble2{
	margin: 15px;
	position: relative;
}
.thimble3{
	margin: 15px;
	position: relative;
}
.thimble4{
	margin: 15px;
	position: relative;
}

/* .boll{
	position: relative;
	display: none;
}*/