body{
	height: 700px;
	background-image: url(images/wallpaper1.jpg);
	background-size: 100% 100%;
	
}

.thimble_img{
 padding-top: 250px;

}

.thimble1{
	margin: 15px;
	position: relative;

}
.thimble2{
	margin: 15px;
	position: relative;
}
.thimble3{
	margin: 15px;
	position: relative;
}
.thimble4{
	margin: 15px;
	position: relative;
}

